.CheckOut {
  padding: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .CheckOut {
      padding: 10px;
  }
}

/*Table in smaller screens*/
@media screen and (max-width: 600px) {
  .CheckOut table {
      width: 100%;
      display: block;
  }

  .CheckOut table th, .CheckOut table td {
      display: block;
      width: 100%;
  }
}