.DriverProfileTab {
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .DriverProfileTab {
        padding: 10px;
    }
}

/*Table in smaller screens*/
@media screen and (max-width: 600px) {
    .DriverProfileTab table {
        width: 100%;
        display: block;
    }

    .DriverProfileTab table th, .DriverProfileTab table td {
        display: block;
        width: 100%;
    }
}