.Sidebar {
    display: flex;
    height: 100vh; /* Ensure the app fills the viewport height */
    overflow: hidden; /* Prevent unwanted scrolling */ }
.contentArea {
  flex: 1;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .contentArea {
      padding: 10px;
  }
}